{# configure global settings #}
set system host-name {{ inventory_hostname }}
delete system name-server
{% for name_server in system_name_servers %}
set system name-server {{ name_server }}
{% endfor %}
set system license autoupdate url https://ae1.juniper.net/junos/key_retrieval

{# configure VLANS #}
{% for vlan in vlans %}
set vlans vlan-{{ vlan.name }} vlan-id {{ vlan.id }}
set vlans vlan-{{ vlan.name }} l3-interface {{ vlan.l3_interface }}
set interfaces irb unit {{ vlan.id }} family inet address {{ vlan.cidr }}
{% endfor %}

{# configure physical interfaces #}
{% for interface in physical_interfaces %}
{# set interfaces {{ interface }} unit 0 family ethernet-switching interface-mode trunk #}
set interfaces interface-range interfaces-trusted member {{ interface }}
{% endfor %}
set interfaces interface-range interfaces-trusted unit 0 family ethernet-switching interface-mode trunk

{# configure services #}
delete system services web-management http interface vlan.0
delete system services web-management https interface vlan.0
set system services web-management http interface vlan.{{ webinterface_vlan }}
set system services web-management https interface vlan.{{ webinterface_vlan }}
set system services web-management https system-generated-certificate

{# configure DHCP for each subnet #}
{% for subnet in subnets %}
set system services dhcp pool {{ subnet.cidr }} address-range low {{ subnet.dhcp_start }}
set system services dhcp pool {{ subnet.cidr }} address-range high {{ subnet.dhcp_end }}
set system services dhcp pool {{ subnet.cidr }} domain-name {{ subnet.domain_name }}
{% for name_server in subnet.name_servers %}
set system services dhcp pool {{ subnet.cidr }} name-server {{ name_server }}
{% endfor %}
set system services dhcp pool {{ subnet.cidr }} router {{ subnet.gateway }}
set system services dhcp pool {{ subnet.cidr }} default-lease-time {{ subnet.lease_time }}
{% endfor %}

{# configure WAN #}
set interfaces {{ pppoe_interface|default('pp0') }} unit 0
set interfaces {{ pppoe_interface|default('pp0') }} unit 0 ppp-options pap access-profile ppp-profile
set interfaces {{ pppoe_interface|default('pp0') }} unit 0 ppp-options pap local-password {{ pppoe_password | password_hash('md5') }}
set interfaces {{ pppoe_interface|default('pp0') }} unit 0 ppp-options pap local-name {{ pppoe_username }}
set interfaces {{ pppoe_interface|default('pp0') }} unit 0 ppp-options pap passive
set interfaces {{ pppoe_interface|default('pp0') }} unit 0 pppoe-options underlying-interface {{ pppoe_physical_interface }}
set interfaces {{ pppoe_interface|default('pp0') }} unit 0 pppoe-options auto-reconnect 10
set interfaces {{ pppoe_interface|default('pp0') }} unit 0 pppoe-options client
set interfaces {{ pppoe_interface|default('pp0') }} unit 0 pppoe-options idle-timeout 0
set interfaces {{ pppoe_interface|default('pp0') }} unit 0 family inet negotiate-address
set interfaces {{ pppoe_interface|default('pp0') }} unit 0 family inet mtu 1492

